h4 {
    color:darkgreen;
    font-family: Georgia;
    text-align: center;
}

.sub-header {
    font-family: Georgia;
    text-align: center;
}

div > .article {
    font-size: 18px;
}

#other-likes {
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;