h4 {
    font-size: 25px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.sub-header {
    font-size: 18px;
    font-family: Georgia;
    text-align: center;
}

div > .article {
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: crimson;
}