header {
    position: relative;
    height: 20px;
    border: 4px solid black;
    margin: 0px;
    padding: 20px;
    background-color:coral;
    text-align-last: center;
}

nav {
    font-size: 16px;
    width: 276px;
    margin: 0px;
    padding: 20px;
    
}

th {
    font-size: 17px;
    text-align-last: justify;
}

td {
    text-align-last: justify;
    font-size: 14px;
}

table {
    text-align-last: justify;
    table-layout: fixed;
}

footer {
    background-color: coral;
    text-align-last: center;
    
}

img {
    position: relative;
}