
html, body {
    margin: 0;
    padding: 0;
    background-color: #b3aeae;
}

#nav-bar {
    position: fixed;
    left: 151px ;
    width: 800px;
    height: 80px;
    background-color: rgb(139, 139, 139);
}

#blog-container {
    position: relative;
    top: 100px;
    left: 150px ;
    width: 600px;
    height: 150px;
    background-color: rgb(92, 91, 91);
    font-size: 18px;
    color:rgb(0, 0, 0);
    border: solid 6px rgb(0, 0, 0);
}

#nav-links {
    position: fixed;
    width: 150px;
    height: 80px;
    background-color: rgb(36, 36, 36);
    text-align: center;
    color: seashell;
}

h3 {
    text-align: left;
    margin: 5px;

    

}

img {
    box-sizing: border-box;
    float: left;
    width: 150px;
    height: 150px;
}

h5 {
    display: inline;
    position: fixed;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    color: black;
    font-size: 40px;
}

#footer {
    position: fixed;
    top: 700px;
    color: seashell;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: seashell;
}